.area-text {
    height: 5rem;
    width: 95%;
    border: none;
    border-radius: 8px;
    background-color: #0C1726;
    color: white;
    padding: 0.7rem;
}

.area-div {
    margin-top: 10px;
    margin-bottom: 10px;
}